#header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#header .userFullName {
    font-weight: 600;
}

#header .userEmail {
    font-style: italic;
}

footer {
    min-height: 50px;
}

.validated .messages {
    font-size: 80%;
    font-style: italic;
}

.validated .messages.success {
    color: darkgreen;
}

.validated .messages.error {
    color: #a94442;
}

.required > .control-label::before {
    content: "*";
    color: #a94442;
}

.requiredFieldsMessage {
    font-size: 80%;
    color: #a94442;
    font-style: italic;
}

.periodicalNameModal {
    font-weight: bold;
    font-style: italic;
    color: darkgreen;
}

.theadSublabel {
    font-size: 80%;
    font-style: italic;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.priceFreeLabel {
    color: #a94442;
}

.costAndSumValue {
    font-weight: bold;
}
