#header {
    margin-top: 20px;
}

#header .userFullName {
    font-weight: 600;
}

#header .userEmail {
    font-style: italic;
}

footer {
    min-height: 50px;
}

.validated .messages {
    font-size: 80%;
    font-style: italic;
}

.validated .messages.success {
    color: darkgreen;
}

.validated .messages.error {
    color: red;
}

.required > .control-label::before {
    content: "*";
    color: red;
}

.requiredFieldsMessage {
    font-size: 80%;
    color: red;
    font-style: italic;
}

.periodicalNameModal {
    font-weight: bold;
    font-style: italic;
    color: darkgreen;
}

table.text-center th {
    text-align: center;
}

.theadSublabel {
    font-size: 80%;
    font-style: italic;
}
