#header {
    margin-top: 20px;
}

#header .userFullName {
    font-weight: 600;
}

#header .userEmail {
    font-style: italic;
}

.validated .messages {
    font-size: 80%;
    font-style: italic;
}

.validated .messages.success {
    color: darkgreen;
}

.validated .messages.error {
    color: red;
}
