<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Java Training 2016Aut</display-name>

    <session-config>
        <!-- web.xml expects the session timeout in minutes: -->
        <session-timeout>10</session-timeout>
    </session-config>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.stolser.javatraining.webproject.controller.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/adminPanel/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.stolser.javatraining.webproject.controller.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/adminPanel/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.stolser.javatraining.webproject.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.stolser.javatraining.webproject.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ValidationServlet</servlet-name>
        <servlet-class>com.stolser.javatraining.webproject.controller.validator.ValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidationServlet</servlet-name>
        <url-pattern>/Validation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.stolser.javatraining.webproject.controller.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/adminPanel/*</url-pattern>
    </servlet-mapping>


    <!--    <listener>
            <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
        </listener>

        <filter>
            <filter-name>ShiroFilter</filter-name>
            <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>ShiroFilter</filter-name>
            <url-pattern>/*</url-pattern>
            <dispatcher>REQUEST</dispatcher>
            &lt;!&ndash;<dispatcher>FORWARD</dispatcher>&ndash;&gt;
            &lt;!&ndash;<dispatcher>INCLUDE</dispatcher>&ndash;&gt;
            <dispatcher>ERROR</dispatcher>
        </filter-mapping>-->
</web-app>